## Mumbai Mirror Sentiment Analysis
### Installing necessary python packages

!pip install pandas
!pip install vaderSentiment

### Importing the installed Libraries

In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd
import re

### Reading Mumbai Mirror AA News Dataset and droping the missing values & some columns from the dataset.

In [2]:
data = pd.read_csv('Mumbai Mirror.csv')
data = data.drop(['Headlines', 'Descriptions', 'Authors', 'Published_Dates', 'Summaries', 'Keywords'], axis=1).dropna().reset_index(drop=True)
data.head()

                                            Articles
0  Alcoholics Anonymous\r\n\r\nHelen Keller\r\n\r...
1  Love is like a drug — romantic love causes cha...
2  This refers to 'CP set to reassign 250 alcohol...
3  motivating talk: The AA members explained the ...
4  A Father’s healing touch\r\n\r\nFather Joseph ...

### cleaning each article

In [3]:
cleaning = re.compile(r"[.;:!\'?,\"()\[\]](<br\s*/><br\s*/>)|(\-)|(\/)")

data['Cleaned_Articles'] = [cleaning.sub("", data['Articles'][i].lower().replace('\r\n\r\n', ' ').replace("\'", "")) for i in range(len(data['Articles']))]

data = data.drop(['Articles'], axis=1)
data.head()

                                    Cleaned_Articles
0  alcoholics anonymous helen keller spread no do...
1  love is like a drug — romantic love causes cha...
2  this refers to cp set to reassign 250 alcoholi...
3  motivating talk: the aa members explained the ...
4  a father’s healing touch father joseph pereira...

### For each article calculating the Polarity values of the following
* Positive
* Neutral
* Negative
* Compound

In [4]:
analyser = SentimentIntensityAnalyzer()

data['polarity'] = [analyser.polarity_scores(data['Cleaned_Articles'][i]) for i in range(len(data['Cleaned_Articles']))]

In [5]:
display(data)

,Cleaned_Articles,polarity
0,alcoholics anonymous helen keller spread no do...,"{'neg': 0.038, 'neu': 0.875, 'pos': 0.087, 'co..."
1,love is like a drug — romantic love causes cha...,"{'neg': 0.101, 'neu': 0.738, 'pos': 0.161, 'co..."
2,this refers to cp set to reassign 250 alcoholi...,"{'neg': 0.133, 'neu': 0.756, 'pos': 0.111, 'co..."
3,motivating talk: the aa members explained the ...,"{'neg': 0.057, 'neu': 0.843, 'pos': 0.1, 'comp..."
4,a father’s healing touch father joseph pereira...,"{'neg': 0.03, 'neu': 0.857, 'pos': 0.112, 'com..."
5,britney spears is hooked on to something new s...,"{'neg': 0.064, 'neu': 0.849, 'pos': 0.088, 'co..."
6,pooja bhatt alcohol mahesh bhatt sanjay dutt n...,"{'neg': 0.09, 'neu': 0.81, 'pos': 0.1, 'compou..."
7,twelve steps to recovery as presented by alcoh...,"{'neg': 0.138, 'neu': 0.819, 'pos': 0.043, 'co..."
8,"over 100 ngos face shut down, even as bmc allo...","{'neg': 0.063, 'neu': 0.875, 'pos': 0.062, 'co..."
9,naomi campbell great sphinx mystical jewish fa...,"{'neg': 0.033, 'neu': 0.849, 'pos': 0.118, 'co..."
10,pop star kid rock aka robert james ritchie (in...,"{'neg': 0.068, 'neu': 0.828, 'pos': 0.103, 'co..."
11,web site youngsters the web site also includes...,"{'neg': 0.019, 'neu': 0.782, 'pos': 0.199, 'co..."
12,"dear bachi, i am a 34yearold health professio...","{'neg': 0.156, 'neu': 0.709, 'pos': 0.135, 'co..."
13,lindsay lohan has checked into rehab. “i have ...,"{'neg': 0.034, 'neu': 0.844, 'pos': 0.123, 'co..."
14,scent of lohan lindsay lohan was told by jane ...,"{'neg': 0.063, 'neu': 0.835, 'pos': 0.102, 'co..."
15,why do men get too tired for sex? initial brai...,"{'neg': 0.159, 'neu': 0.748, 'pos': 0.093, 'co..."
16,world health organisation puducherry rajasthan...,"{'neg': 0.075, 'neu': 0.851, 'pos': 0.074, 'co..."
17,tremendous risk that beneficiaries may be lost...,"{'neg': 0.061, 'neu': 0.861, 'pos': 0.078, 'co..."
18,moneylender santosh tiwari suffering from guil...,"{'neg': 0.164, 'neu': 0.81, 'pos': 0.026, 'com..."
19,one of the best experiences of neysa mendes li...,"{'neg': 0.022, 'neu': 0.851, 'pos': 0.127, 'co..."
20,cinemax multiplex lokhandwala versova industry...,"{'neg': 0.173, 'neu': 0.742, 'pos': 0.086, 'co..."
21,amit tandon on bringing his wife back f... ami...,"{'neg': 0.11, 'neu': 0.89, 'pos': 0.0, 'compou..."
22,i invited my best friend. we ended up having a...,"{'neg': 0.069, 'neu': 0.761, 'pos': 0.17, 'com..."
23,main control room pune ats malegaon blasts pol...,"{'neg': 0.082, 'neu': 0.908, 'pos': 0.01, 'com..."

In [6]:
data.shape

(24, 2)