In [1]:
from newsplease import NewsPlease
import pandas as pd 
import sys

In [2]:
data = pd.read_csv("BBC_URL.csv") 
data.head()

   Unnamed: 0                                            BBC_URL
0           0        http://www.bbc.co.uk/news/uk-wales-45023075
1           1  http://www.bbc.co.uk/news/uk-scotland-edinburg...
2           2        http://www.bbc.co.uk/news/magazine-33049093
3           3       https://www.bbc.co.uk/news/newsbeat-46983805
4           4                 http://www.bbc.co.uk/news/10280806

In [3]:
t, dtp, iu, a, td = [], [], [], [], []
for index, url in enumerate(data['BBC_URL']):
    try:
        article = NewsPlease.from_url(url)
        t.append(article.title)
        dtp.append(str(article.date_publish))
        iu.append(article.image_url)
        td.append(article.text)
        a.append(article.authors)
    except:
        t.append(None)
        dtp.append(None)
        iu.append(None)
        a.append(None)
        td.append(None)

    sys.stdout.write('\r' + str(index) + ' : ' + str(url) + '\r')
    sys.stdout.flush()

In [4]:
tbl = pd.DataFrame({'title' : t, 'Author' : a, 'Date' : dtp, 'Image_url' : iu, 'News' : td})
tbl.to_excel('BBC_AA_News.xls')