## Deccan Chronicle Sentiment Analysis
### Installing necessary python packages

!pip install pandas
!pip install vaderSentiment

### Importing the installed Libraries

In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd
import re

### Reading Deccan Chronicle AA News Dataset and droping the missing values & some columns from the dataset.

In [2]:
data = pd.read_csv('Deccan_Chronicle.csv')
data = data.drop(['Headlines', 'Descriptions', 'Authors', 'Published_Dates', 'Summaries', 'Keywords'], axis=1).dropna().reset_index(drop=True)
data.head()

                                            Articles
0  Alcoholics Anonymous: The helping hand for add...
1  What begins as social drinking turns into alco...
2  Power, determination and the unabashed guts to...
3  BENGALURU: Despite measures being taken by sev...
4  Thanjavur: It will be startling to note that t...

### cleaning each article

In [3]:
cleaning = re.compile(r"[.;:!\'?,\"()\[\]](<br\s*/><br\s*/>)|(\-)|(\/)")

data['Cleaned_Articles'] = [cleaning.sub("", data['Articles'][i].lower().replace('\r\n\r\n', ' ').replace("\'", "")) for i in range(len(data['Articles']))]

data = data.drop(['Articles'], axis=1)
data.head()

                                    Cleaned_Articles
0  alcoholics anonymous: the helping hand for add...
1  what begins as social drinking turns into alco...
2  power, determination and the unabashed guts to...
3  bengaluru: despite measures being taken by sev...
4  thanjavur: it will be startling to note that t...

### For each article calculating the Polarity values of the following
* Positive
* Neutral
* Negative
* Compound

In [4]:
analyser = SentimentIntensityAnalyzer()

data['polarity'] = [analyser.polarity_scores(data['Cleaned_Articles'][i]) for i in range(len(data['Cleaned_Articles']))]

In [5]:
display(data)

,Cleaned_Articles,polarity
0,alcoholics anonymous: the helping hand for add...,"{'neg': 0.0, 'neu': 0.817, 'pos': 0.183, 'comp..."
1,what begins as social drinking turns into alco...,"{'neg': 0.037, 'neu': 0.839, 'pos': 0.124, 'co..."
2,"power, determination and the unabashed guts to...","{'neg': 0.053, 'neu': 0.837, 'pos': 0.11, 'com..."
3,bengaluru: despite measures being taken by sev...,"{'neg': 0.062, 'neu': 0.857, 'pos': 0.081, 'co..."
4,thanjavur: it will be startling to note that t...,"{'neg': 0.06, 'neu': 0.893, 'pos': 0.047, 'com..."
5,"last week, samrat chadha, one of the head honc...","{'neg': 0.081, 'neu': 0.816, 'pos': 0.102, 'co..."
6,filmmaker and former actress pooja bhatt is on...,"{'neg': 0.046, 'neu': 0.862, 'pos': 0.092, 'co..."
7,bengaluru: man booker prize nominee jeet thayi...,"{'neg': 0.025, 'neu': 0.857, 'pos': 0.118, 'co..."
8,researchers found that a craving for alcohol c...,"{'neg': 0.058, 'neu': 0.905, 'pos': 0.037, 'co..."
9,washington: a new study has recently revealed ...,"{'neg': 0.008, 'neu': 0.791, 'pos': 0.201, 'co..."
10,"will arnett, who used to be alcoholic and was ...","{'neg': 0.064, 'neu': 0.936, 'pos': 0.0, 'comp..."
11,"if a person drinks five beers, it accounts for...","{'neg': 0.024, 'neu': 0.898, 'pos': 0.078, 'co..."
12,"los angeles: zac efron, who secretly completed...","{'neg': 0.019, 'neu': 0.854, 'pos': 0.127, 'co..."
13,"outlining his priorities, the ftii director sa...","{'neg': 0.035, 'neu': 0.906, 'pos': 0.059, 'co..."
14,hangovers are inevitable when it comes to new ...,"{'neg': 0.131, 'neu': 0.828, 'pos': 0.041, 'co..."
15,karnataka’s first 24x7 lab soon at pmssy hospi...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
16,jeremy jackson is on his way to prison for all...,"{'neg': 0.12, 'neu': 0.817, 'pos': 0.064, 'com..."
17,when sex addiction contributes to criminal beh...,"{'neg': 0.165, 'neu': 0.784, 'pos': 0.051, 'co..."
18,u.n. secretarygeneral ban kimoon addresses the...,"{'neg': 0.089, 'neu': 0.84, 'pos': 0.071, 'com..."
19,mumbai: an 18yearold boy has been arrested and...,"{'neg': 0.08, 'neu': 0.897, 'pos': 0.023, 'com..."
20,bengaluru: plan to enjoy this monsoon at coorg...,"{'neg': 0.077, 'neu': 0.841, 'pos': 0.083, 'co..."
21,it is the bharatiya janata party’s enid blyton...,"{'neg': 0.088, 'neu': 0.855, 'pos': 0.058, 'co..."
22,at times drinking way to much can get you in t...,"{'neg': 0.024, 'neu': 0.804, 'pos': 0.172, 'co..."
23,london: a british court is to rule on whether ...,"{'neg': 0.124, 'neu': 0.815, 'pos': 0.061, 'co..."
24,rating: director: vaibhav mishra cast: girish ...,"{'neg': 0.024, 'neu': 0.821, 'pos': 0.155, 'co..."
25,tasmac told to compesnate for contaminated bra...,"{'neg': 0.064, 'neu': 0.886, 'pos': 0.05, 'com..."
26,roseburg: when a 26yearold man armed with mult...,"{'neg': 0.073, 'neu': 0.897, 'pos': 0.031, 'co..."
27,hyderabad: the unwise decision of the interim ...,"{'neg': 0.114, 'neu': 0.863, 'pos': 0.022, 'co..."
28,high alert has been sounded in ludhiana ahead ...,"{'neg': 0.053, 'neu': 0.84, 'pos': 0.107, 'com..."

In [6]:
data.shape

(29, 2)